/* Colors
*********/
$green: #a8c628;
$darkGreen: #81b315;
$blue: #00a7e1;
$darkBlue: #007eb5;
$purple: #6f29d3;
$black: #343438;
$white: #fff;
$gray10: darken(#fff, 10%);
$gray20: darken(#fff, 20%);
$gray30: darken(#fff, 30%);
$gray40: darken(#fff, 40%);
$gray50: darken(#fff, 50%);
$gray60: darken(#fff, 60%);
$gray70: darken(#fff, 70%);
$gray80: darken(#fff, 80%);
$gray90: darken(#fff, 90%);

/* Fonts
********/
$eng: 'DIN 1451 W01 Engschrift', sans-serif;
$med: 'DIN Next W01 Medium', sans-serif;
$light: 'DIN Next W01 Light', sans-serif;
$arial: 'Arial', sans-serif;

body {
  position:relative;
  background:#EDEEF2 !important; /*light gray will a hint of blue*/

  &.white-bg{
    background:$white !important;
  }
}
.dr-docs-container {
    margin-top:20px;
    margin-bottom:80px;
    .dr-docs-section{
        border:solid 1px $gray20;
        background:$white;
        .header{
            padding:15px;
        }
        .highlight {
            padding: 14px;
        }
        .section-body{
            padding:15px;

            h2.subhead{
                margin:50px 0 10px;
            }
        }
    }
}

#dr-docs-sidebar {
    max-width:420px;
    &.affix {
        position:fixed;
        top:20px;
    }
    &.affix-bottom {
        position:absolute;
    }
    & > .nav > li {
        margin-bottom:5px;
    }
    .nav > li {
        padding:2px 0;
        a {
            display:inline-block;
            padding:0 2px;
            font-size:16px;
            font-weight:500;
            color:$gray60;
            &:hover, &:focus {
                background-color:transparent;
            }
            &:hover {
                color:$blue;
            }
        }
        & > .nav {
            display:none;
            margin:10px 0;
            & > li {
                padding:2px 0 2px 10px;
                border-left:1px solid $green;
                &:hover {
                    border-left:1px solid $green;
                }
                &.active {
                    padding:2px 0 2px 9px;
                    border-left:3px solid $green;
                    left:-1px;
                    & ~ li {
                        border-left:1px solid $gray20;
                    }
                    & > a {
                        font-weight:normal;
                    }
                    
                }
                a {
                    font-size:13px;
                    border-bottom:none;
                }
            }
        }
        &.border-fix > .nav > li {
            border-left:1px solid $gray20;
        }
        &.active > .nav {
            display:block;
        }
        &.active > a {
            color:$blue;
            font-weight:bold;
            border-bottom:2px solid $green;
        } 
    }
}
.dr-glyphicons li:hover {
    background-color:$blue;
}
#splash {
    padding-top:35px;
    padding-bottom:35px;
    position:relative;
    .title {
        position:absolute;
        top:50%; left:50%;
        transform: translate(-50%, -50%);
        text-align:center;
        margin-top:-50px;
        animation-name: fade-in;
        animation-duration: 2s;
        animation-fill-mode: forwards; 
        animation-iteration-count: 1;
    }
    h1 {
        color:$blue;
        font-size:72px;
        font-weight:bold;
        text-shadow:0 0 10px $white;
    }
    h2 {
        background-color:$gray70;
        color:$white;
        padding:5px 10px;
        display:inline-block;
        line-height:1;
    }
}
#world-map {
    fill:$gray20;
    animation-name: blur;
    animation-duration: 1s; 
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
}
@keyframes blur {
    0%   { -webkit-filter: blur(0px); filter: blur(0px); }
    100% { -webkit-filter: blur(2px); filter: blur(2px); }
}
@keyframes fade-in {
    0%   { opacity:0; }
    100% { opacity:1; }
}

footer {
    padding:40px 20px;
    background:$gray10;
    text-align:center;
    border-top:solid 1px $gray20;
    a {
        margin:0 10px;
        color:#c1c1c1;
    }
}



.bg-green {background-color:$green;}
.bg-darkGreen {background-color:$darkGreen;}
.bg-blue {background-color:$blue;}
.bg-darkBlue {background-color:$darkBlue;}
.bg-purple {background-color:$purple;}
.bg-black {background-color:$black;}
.bg-white {background-color:$white;}
.bg-gray10 {background-color:$gray10;}
.bg-gray20 {background-color:$gray20;}
.bg-gray30 {background-color:$gray30;}
.bg-gray40 {background-color:$gray40;}
.bg-gray50 {background-color:$gray50;}
.bg-gray60 {background-color:$gray60;}
.bg-gray70 {background-color:$gray70;}
.bg-gray80 {background-color:$gray80;}
.bg-gray90 {background-color:$gray90;}

.txt-green {color:$green;}
.txt-darkGreen {color:$darkGreen;}
.txt-blue {color:$blue;}
.txt-darkBlue {color:$darkBlue;}
.txt-purple {color:$purple;}
.txt-black {color:$black;}
.txt-white {color:$white;}
.txt-gray10 {color:$gray10;}
.txt-gray20 {color:$gray20;}
.txt-gray30 {color:$gray30;}
.txt-gray40 {color:$gray40;}
.txt-gray50 {color:$gray50;}
.txt-gray60 {color:$gray60;}
.txt-gray70 {color:$gray70;}
.txt-gray80 {color:$gray80;}
.txt-gray90 {color:$gray90;}

#dr-docs-colors {
    [class^="bg-"] {
        height:50px;
        margin:5px 0 20px 0;
        text-align:center;
        border:1px solid rgba(0,0,0,0.1);
        .color {
            line-height:50px;
            font-size:21px;
            opacity:0.3;
            color:#fff;
            letter-spacing:0.5px;
            // text-shadow:-1px -1px 0 $gray60,
            //              -1px 1px 0 $gray60,
            //              1px -1px 0 $gray60,
            //               1px 1px 0 $gray60;
            //text-shadow:0 0 2px #000;
                        
        }
    }
}

.tab-content .dr-example {
    border-radius:0;
    border-top:0;
}